.Header {
    position: sticky;
    top: 0px;
    z-index: 100;
}
.navbar-nav .nav-link {
    font-weight: 500;
    margin: 0 10px;
}

.nav-item.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}

.contact-btn {
    background-color: #8760fd;
    color: white;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    box-shadow: 1px 4px 2px rgba(0, 0, 0, 0.486);
}

.contact-btn:hover {
    background-color: #5a35a0;
}

.call-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.call-icon {
    background-color: #e5d8fb;
    border-radius: 50%;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.call-icon i {
    color: #6f42c1;
}

.mail-icon i{
    color: #6f42c1;
}

.mail-icon{
    background-color: #e5d8fb;
    border-radius: 50%;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.number-icon {
    background-color: #e5d8fb;
    border-radius: 50%;
    padding: 15px 20px;
}

.hero-section {
    padding: 100px 0;
}

.hero-text h1 {
    font-weight: bold;
    font-size: 2.5rem;
}

.hero-text p {
    color: #666;
    margin-bottom: 20px;
}

.read-btn {
    background-color: #8760fd;
    border-color: #8760fd;
    text-decoration: none;
    color: black;
    padding: 10px 20px;
    border-radius: 8px;
    font-weight: bold;
}

.read-btn:hover {
    background-color: #5f20e1;
    border-color: #5f20e1;
}

.view-services {
    margin-left: 20px;
    /* font-weight: bold; */
    text-decoration: none;
    color: black;
}

.hero-img {
    position: relative;
}

.hero-image img {
    max-width: 100%;
    height: auto;
}

/* .image-bg {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90%;
    height: 90%;
    background: #f2e9ff63;
    border-radius: 50%;
    z-index: -1;
    transform: translate(-50%, -50%);
} */

.title-info {
    display: flex;
    align-items: center;
    gap: 20px;
}

.btn:hover {
    background-color: #8760fd;
}

.offer-section {
    padding: 100px 0;
}

.image-wrapper {
    position: relative;
    width: 100%;
}

.overlay-img {
    width: 40%;
    height: auto;
}

.overlay-1 {
    top: 60%;
    left: -5%;
}

.overlay-2 {
    bottom: -20%;
    right: 30%;
}

@media (max-width: 1200px) {
    .main-img {
        width: 60%;
    }
    .overlay-img {
        width: 40%;
        height: auto;
    }

    .overlay-2 {
        bottom: -20%;
        right: 30%;
    }
}

@media (max-width: 999px) {
    .overlay-2 {
        bottom: -20%;
        right: 30%;
    }
}

@media (max-width: 768px) {
    .overlay-img {
        width: 39%; /* Khi màn hình nhỏ, thu nhỏ ảnh overlay */
    }
    .overlay-2 {
        bottom: 0%;
        right: 30%;
    }
}

.team-section1 {
    background-color: #101828;
    padding: 65px;
    margin-top: 100px;
    /* height: 780px; */
}

.info-box {
    background-color: #eeeaff;
}

.fs-style-4 {
    font-size: 4rem !important;
}

.truncate-style {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* number of lines to show */
    line-clamp: 3;
    -webkit-box-orient: vertical;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-pagination {
    position: unset !important;
    text-align: center;
    margin-bottom: 5%;
    transition: 0.3s opacity;
    transform: translate3d(0, 0, 0);
    z-index: 10;
}

.custom-section {
    background-image: url(../img/backgroud.png); /* Màu nền */
    border-radius: 20px;
    padding: 80px;
    color: white;
    position: relative;

    /* overflow: hidden; */
}
.custom-btn {
    background-color: rgba(255, 255, 255, 0.2);
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    font-weight: bold;
    transition: 0.3s;
}
.custom-btn:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

/* .floating-img {
    max-width: 25%;
    border-radius: 15px;
    position: absolute;
    top: 0;
    right: 0;
    width: 45%;
    transform: translate(-20%, -20%);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  } */

.floating-img {
    max-width: 25%;
    border-radius: 15px;
    position: absolute;
    top: 0;
    right: 0;
    width: 45%;
    transform: translate(-20%, -30%);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

.working {
    margin-top: 100px;
}

.Testimonial {
    background-image: url(../img/working.png);
    height: auto;
}

.user-cmt {
    width: 50%;
}

.comment {
    width: 50%;
}

.swiper {
    width: 100%;
    height: 100%;
}

/* .swiper-slide {
    font-size: 18px;
    justify-content: center;
    align-items: center;
    color: #fff;
  } */

/* .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  } */

.img-working {
    width: 100%;
}

.blog-readmore {
    font-size: 14px;
    font-weight: 500;
    color: #333;
    display: inline-block;
    margin-top: 10px;
    transition: all 0.3s ease-in-out;
}

.blog-readmore:hover {
    color: #5f3dc4;
    text-decoration: none;
}

.footer {
    background-color: #101828;
    color: #fff;
}

iframe {
    width: 100%;
    height: 100%;
    border: 2px solid #8760fd;
}

.img-blog {
    width: 100%;
}

.text-white i {
    color: black;
    width: 100%;
}

.blog-card {
    position: relative;
    overflow: hidden;
}

.blog-img {
    transition: transform 0.3s ease-in-out;
}

.blog-card:hover .blog-img {
    transform: scale(1.1); /* Phóng to nhẹ hình khi hover */
}

.text-white i {
    color: #fff;
}

.hover-icon {
    top: 20px;
    left: 10px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.blog-card:hover .hover-icon {
    opacity: 1;
}

.hover-icon a {
    display: block;
    margin-bottom: 5px;
}

@media (max-width: 768px) {
    .hover-icon {
        top: 20px;
        left: 5px;
    }
    .hover-icon i {
        font-size: 1rem !important;
    }
}

@media (max-width: 568px) {
    .hover-icon {
        top: 1px;
        left: 5px;
    }
    .hover-icon i {
        font-size: 0.3rem !important;
    }
}

.card-img:hover {
    translate: scale(1.5);
}

.card-img2:hover {
    translate: scale(1.5);
    border-radius: 20px ;
}


.blog-card:hover .hover-icon {
    opacity: 1; /* Hiện icon khi hover */
}

.Testimonial-img {
    width: 100%;
}

.logo2 {
    width: 50%;
}

.no_name {
    font-size: 100%;
}

.bg-3d {
    background-image: url(../img/bg3duser.png);
}

.card-portfolio {
    border: 0;
    margin: 0 auto;
}

.card-portfolio {
    overflow: hidden;
    border-radius: 12px;
    position: relative;
}

.card-portfolio .card-img {
    overflow: hidden;
    border-radius: 12px;
}

.card-portfolio .card-img img {
    transition: transform 0.3s ease-in-out;
}

.card-portfolio:hover .card-img img {
    transform: scale(1.1);
}



.card-portfolio .card-img2 {
    overflow: hidden;
    border-radius: 12px;
}

.card-portfolio .card-img2 img {
    transition: transform 0.3s ease-in-out;
    border-radius: 20px;
}

.card-portfolio:hover .card-img2 img {
    transform: scale(1.1);
    border-radius: 20px;
}

.card-portfolio-meta {
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.card-portfolio:hover .card-portfolio-meta {
    opacity: 1;
    transform: translateY(0);
}





.stretched-link {
    text-decoration: none;
    color: #000;
}
.stretched-link:hover {
    color: #8760fd;
}

.stretched-link::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    content: "";
}

.background_detail {
    background-image: url(../img/background_detail.png);
    width: 100%;
    height: 400px;
}




/*  */
.contact-section {
    background-image: url(../img/background_detail.png);
    padding: 80px 0;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.contact-section h2 {
    font-size: 24px;
    color: #ffffff;
}

.contact-section .email {
    font-size: 32px;
    font-weight: bold;
    color: #ffffff;
}

.contact-section .btn {
    background-color: white;
    color: blue;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
}

.contact-section .btn:hover {
    background-color: #ddd;
}

.icon_share{
    margin-left: 20px;
}

.img-main{
    height: 100%;
}

.detail_about{
    border-left: 1px solid rgb(219, 216, 216);
}

.results{
    border-left: 1px solid #7472728c;
}

.title_blog{
    font-weight: 700;
}

.line-highlight{
    border-bottom: 1px solid #000 ;
    width: 20%;
    margin: 0 auto;
}



@media (min-width: 476px) {
    .auth_avt{
        flex: 0 0 auto;
        width: 50%;
    }  

}


@media (min-width: 376px) {
    .auth_avt{
        flex: 0 0 auto;
        width: 50%;
    }
   
}

@media (min-width: 276px) {
    .auth_avt{
        flex: 0 0 auto;
        width: 50%;
    
    }
    .avtar_aut{
        width: 100% ;
    }
}


.text-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    display: block;
}

.navigation_1{
    margin: 0 auto;
    display: flex;
    justify-content: c;
}


.blog-img img {
    width: 100%; 
    height: 250px; 
    object-fit: cover; 
}


.card-img img{
    width: 100%; 
    height: 400px; 
    object-fit: cover; 
}

.team_img img{
    width: 100%; 
    height: 400px; 
    object-fit: cover; 
}


.email-btn{
    background-color: #8760fd;
    border-color: #8760fd;
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 8px;
}

.contact-mail1{
    border-right: 1px solid rgb(207, 207, 207);
}

.contact-mail2{
    border-left: 1px solid rgb(207, 207, 207);
}


.contact-questions{
    background-image: url(../img/bg3duser.png);
}

.accordion-item{
    align-items: center;
    margin: 0 auto;
    width: 100%;
    max-width: 80%;
}

.bg-team{
    background-image: url(../img/breadcrumb.jpg);
    width: 100%;
    height: 200px;   
}


.about_team{
    border-right: 1px solid rgb(199, 195, 195) ;
}


.dec_team{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    display: block;
}
